<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ template "_internal/google_analytics.html" . }}
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon-32x32.png?v=0ff71f69640f9c21292d97a47e46976c" type="image/png">  
  <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png?v=0ff71f69640f9c21292d97a47e46976c">
  <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png?v=0ff71f69640f9c21292d97a47e46976c">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
  <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" data-react-helmet="true">
  <meta property="og:description" content="Bienvenidos a CompartiMOSS, la revista digital de habla hispana en la que se escribe sobre la tecnología Microsoft y todo lo relacionado con ésta" data-react-helmet="true">
  <meta property="og:type" content="website" data-react-helmet="true">
  <meta name="twitter:card" content="summary" data-react-helmet="true">
  <meta name="twitter:creator" content="@compartimoss_com" data-react-helmet="true">
  <meta name="twitter:title" content="Home" data-react-helmet="true">
  <meta name="twitter:description" content="Bienvenidos a CompartiMOSS, la revista digital de habla hispana en la que se escribe sobre la tecnología Microsoft y todo lo relacionado con ésta" data-react-helmet="true">
  <meta name="keywords" content="Microsoft, Microsoft 365, Azure, Office 365" data-react-helmet="true">
</head>
<body>
  {{ partial "header.html" . }}
  
  <main class="flex-1">
    {{ block "main" . }}{{ end }}
  </main>
  
  {{ partial "footer.html" . }}
</body>
</html>
